/* Algemene style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    height: 50px;
    width: auto;
    padding-left: 2vw;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 3vw;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.icons {
    margin-right: 3vw;
    display: flex;
    align-items: center;
}

.icons a {
    margin-left: 20px;
    padding-right: 10px;
    color: #333;
    text-decoration: none;
    font-size: 24px;
}

@media (max-width: 768px) {
    
    header {
        flex-wrap: wrap;
    }
    
    nav {
        order: 3;
        width: 100%;
        margin-top: 15px;
    }
    
    nav ul {
        justify-content: center;
    }
    
    nav ul li {
        margin: 0 15px;
    }
}

/* body style */

.main-container {
   background-color: #e1e1e1;
}

.title {
    text-align: center;
    margin-bottom: 3vw;
}

.winkel-item {
    box-sizing: border-box;
    display: flex;
    width: 95vw;
    height: 150px;
    margin-left: 2.5vw;
    margin-bottom: 1vw;
    background-color: rgb(224, 224, 224);
    border: solid black;
    border-radius: 5px;
}

.winkel-item .winkel-img {
    margin: 10px;
    height: 125px;
    border: solid black;
    border-radius: 3px;
}

.winkel-item .item-text {
    flex-direction: column;
}

.winkel-item .item-naam {
    padding-left: 1vw;
    padding-top: 13px;
    font-size: large;
    font-weight: bold;
}

.winkel-item .item-beschrijving {
    font-size: 15px;
    padding-left: 1vw;
    max-width: 600px;
}

.item-counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-counter .item-count {
    font-size: 40px;
    margin-left: 2vw;
}

.item-counter .item-plus {
    font-size: 40px;
}

.item-counter .item-minus {
    font-size: 40px;
}