* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    height: 50px;
    width: auto;
    padding-left: 2vw;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 3vw;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.icons {
    margin-right: 3vw;
    display: flex;
    align-items: center;
}

.icons a {
    margin-left: 20px;
    padding-right: 10px;
    color: #333;
    text-decoration: none;
    font-size: 24px;
}

@media (max-width: 768px) {
    
    header {
        flex-wrap: wrap;
    }
    
    nav {
        order: 3;
        width: 100%;
        margin-top: 15px;
    }
    
    nav ul {
        justify-content: center;
    }
    
    nav ul li {
        margin: 0 15px;
    }
}