/* CSS voor de home */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.logo1 span {
  color: #e63946;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
}

.gray {
  color: #aaa;
}
.red {
  color: red;
}
.subtitle {
  font-size: 0.9rem;
  color: #666;
}
.login-box {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.google-btn {
  width: 500px;
  padding: 10px;
  border: none;
  background: whitesmoke;
  color: black;
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
}

.login-btn {
  width: 500px;
  padding: 10px;
  border: none;
  background: black;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

form {
  text-align: left;
  margin-top: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot {
  font-size: 0.9rem;
  color: gray;
  text-align: right;
  cursor: pointer;
  margin: 10px;
}

.signup {
  margin-top: 15px;
  text-align: center;
}

.free {
  color: magenta;
  font-weight: bold;
  cursor: pointer;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
