/* Dit geldt voor alles op de website */
body,
html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Navbar */
#navbar {
    display: flex;
  justify-content: space-around;
  margin: 10px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

/* Dit is voor alle links */
a {
    text-decoration: none;
    color: black;
}

/* Dit is voor de grote apothecare dat je ziet rechts bovenin in de navbar */
#title {
    font-size: 30px;
}

